<script src="js/search-panel.js"></script>

<ng-controller="addAssetCtrl"> 

<div class="sticky-footer-layout desktop-menu-layout mobile-menu-layout">

	<!-- begin advantage site header -->
	<header class="site-header">
		<nav class="navbar navbar-fixed-top">
			<ul class="nav navbar-nav navbar-left">
				<li class="desktop-menu-toggle hidden-mobile"><a href="#"
					data-toggle="desktop-menu" title="Desktop menu">
						<div class="hidden-closed">Close</div>
						<div class="hidden-opened"></div>
				</a></li>
				<li><a class="horizontal-logo" href="/#/landing"
					title="Return home">
						<div class="logo-image" title="Dimension Data"></div>
						<div class="logo-title">
							<span style="font-size: 18px !important">advantage</span>
						</div>
				</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden-mobile">
					<!-- Plain text link -->
					<a href="#">Support</a>
				</li>
				<li class="hidden-mobile">
					<!-- Plain text link -->
					<a href="#">Contact</a>
				</li>
				<li role="separator" class="divider hidden-mobile"></li>
				<li class="dropdown hidden-mobile"><a href="#"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false" class="dropdown-toggle"> <span
						class="fa fa-user"></span>{{profile.userName}}<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li role="separator" class="divider"></li>
						<li><a href="/#/login">Sign out</a></li>
					</ul></li>
				<li role="separator" class="divider hidden-mobile"></li>
				<li class="hidden-mobile">
					<!-- Begin  Client logo -->
					<div class="horizontal-logo" ng-if="profile.userType == 'client' ">
						<a href="login.html"><img src="/img/oracle-logo.gif"
							alt="Company name" class="hidden-dark" /></a> <img
							src="/img/oracle-logo.gif" alt="Company name"
							class="hidden-light" />
					</div> <!-- End  Client logo -->
				</li>
				<li class="mobile-menu-toggle hidden-desktop"
					data-toggle="mobile-menu" title="Mobile menu">
					<button type="button" class="navbar-btn btn">
						<i aria-hidden="true" class="fa fa-bars"></i>
					</button>
				</li>
			</ul>
		</nav>
	</header>
	<!-- end advantage site header -->

	<!-- begin advantage desktop menu -->
	<div class="desktop-menu">
		<div class="content">
			<nav class="scrollbars scrollbars-light">
				<ul class="nav" data-accordion-group>
					<li><a href="/#/home">Dashboard</a></li>
					<li><a class="next collapsed" data-toggle="collapse">Manage
							Assets</a>
						<ul class="collapse in">
							<li><a href="/#/manage-asset">Search & Manage</a></li>
							<li class="active"><a href="/#/add-asset">Add New Asset</a></li>
						</ul></li>
					<li><a class="next collapsed" data-toggle="collapse">Reports</a>
						<ul class="collapse">
							<li><a href="/#/report-overview">Saved Reports</a></li>
							<li><a href="/#/report-admin">Admin Reports & Templates</a></li>
						</ul></li>
					<li><a class="next collapsed" data-toggle="collapse">User
							Preferences</a>
						<ul class="collapse">
							<li><a href="/#/user-pref">Settings</a></li>
						</ul></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- end advantage desktop menu -->

	<!-- begin advantage page content -->

	<main class="page-wrapper">
	<div class="container-xl">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-left">
					<h2 class="main-heading">Add New Asset</h2>
					<p>&nbsp;</p>
				</div>
				
				<!-- Create Asset Begin-->
				<div style="clear: both;" class="" data-panel="search">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<form data-validation-example>
									<div class="row">
										<div class="col-xs-12">
											<!-- <h2>Add</h2> -->
											<div style="clear: both"></div>
											<nav class="panel-group" id="panelGroup1">
												<div class="panel panel-indented">
													<div class="panel-heading active" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel1">
														<h3 class="panel-title">Asset Details</h3>
													</div>
													<div id="panelGroup1Panel1"
														class="panel-collapse collapse in">
														<div class="panel-body">
															<!--   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Manufacturer </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Manufacturer"
																			ng-model="manufacturer">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Serial No.</label> <input class="form-control"
																			type="text" placeholder="Enter Serial No."
																			ng-model="serialNo">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Part No.</label> <input class="form-control"
																			type="text" placeholder="Enter Part No."
																			ng-model="partNo">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Asset Status</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Asset Status"
																			ng-model="assetStatus">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Parent ID</label> <input class="form-control"
																			type="text" placeholder="Enter ParentID"
																			ng-model="parentID">
																	</div>
																</div>
																<div class="col-sm-12 col-md-9">
																	<div class="form-group">
																		<label>Description</label> <input class="form-control"
																			type="text" placeholder="Enter Description"
																			ng-model="description">
																	</div>
																</div>
																
															</div>
															

															


															

															<div class="row">
															<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Buyer Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter BuyerName" ng-model="buyerName">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Current Owner Email</label> <input
																			class="form-control" type="text"
																			placeholder="Enter CurrentOwnerEmail"
																			ng-model="currentOwnerEmail">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">MAC Address</label> <input
																			class="form-control" type="text"
																			placeholder="Enter MACAddress" ng-model="MACAddress">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>IP Address</label> <input class="form-control"
																			type="text" placeholder="Enter IPAddress"
																			ng-model="IPAddress">
																	</div>
																</div>
															</div>
															
														</div>
													</div>
												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel2">
														<h3 class="panel-title">Add Install Address</h3>
													</div>
													<div id="panelGroup1Panel2" class="panel-collapse collapse">
														<div class="panel-body">
															<!--   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->

															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Install Date</label> <input class="form-control"
																			type="text" placeholder="Enter Date Active"
																			ng-model="dateActive">
																	</div>
																</div>
																<div class="col-sm-12 col-md-9">
																	<div class="form-group">
																		<label>Address Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Address Name"
																			ng-model="addressName">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-9">
																	<div class="form-group">
																		<label class="required-field">Street Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Line" ng-model="line">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>City</label> <input class="form-control"
																			type="text" placeholder="Enter City" ng-model="city">
																	</div>
																</div>
															</div>
															
															<div class="row">
																<div class="col-sm-12 col-md-6">
																	<div class="form-group">
																		<label class="required-field">State </label> <input
																			class="form-control" type="text"
																			placeholder="Enter State" ng-model="state">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Postal Code</label> <input class="form-control"
																			type="text" placeholder="Enter Postal Code"
																			ng-model="postalCode">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Country Code</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Country Code"
																			ng-model="countryCode">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel3">
														<h3 class="panel-title">Add Contracts</h3>
													</div>
													<div id="panelGroup1Panel3" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Vendor </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Vendor" ng-model="vendor">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Contract Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Contract Number"
																			ng-model="contractNumber">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Contract Desc</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Contract Desc"
																			ng-model="contractDesc">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Contract Type</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Contract Type"
																			ng-model="contractType">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Entitlement List
																			Price </label> <input class="form-control" type="text"
																			placeholder="Enter Entitlement List Price"
																			ng-model="entitlementListPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Ent Purch Price</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Entitlement Sell Price"
																			ng-model="entitlementSellPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Entitlement Part Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Entitlement Part Number"
																			ng-model="entitlementPartNumber">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Entitlement
																			Description </label> <input class="form-control" type="text"
																			placeholder="Enter Entitlement Description"
																			ng-model="entitlementDescription">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Start Date</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Start Date" ng-model="startDate">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>End Date</label> <input class="form-control"
																			type="text" placeholder="Enter End Date"
																			ng-model="endDate">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>PO Number</label> <input class="form-control"
																			type="text" placeholder="Enter PO Number"
																			ng-model="poNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>SO Number</label> <input class="form-control"
																			type="text" placeholder="Enter SO Number"
																			ng-model="soNumber">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Invoice Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Invoice Number"
																			ng-model="invoiceNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Date Purchased </label>
																		<input class="form-control" type="text"
																			placeholder="Enter Date Purchased"
																			ng-model="datePurchased">
																	</div>
																</div>
																<!-- Hidden from Client <div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Vendor PO Number (Hide Cl)</label><input
																			class="form-control" type="text"
																			placeholder="Enter Vendor PO Number"
																			ng-model="vendorPONumber">
																	</div>
																</div> -->
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Status</label> <input class="form-control"
																			type="text" placeholder="Enter Status"
																			ng-model="contractStatus">
																	</div>
																</div>
															</div>


															<div style="clear: both;"></div>

														</div>
													</div>

												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel4">
														<h3 class="panel-title">Add Department</h3>
													</div>
													<div id="panelGroup1Panel4" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Department Date Active </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Date Active"
																			ng-model="departmentDateActive">
																	</div>
																</div>
																<div class="col-sm-12 col-md-9">
																	<div class="form-group">
																		<label>Department Name</label> <input class="form-control"
																			type="text" placeholder="Enter Department"
																			ng-model="department">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel5">
														<h3 class="panel-title">Add Client Data</h3>
													</div>
													<div id="panelGroup1Panel5" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Custom Data Date</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Date Active"
																			ng-model="clientDateActive">
																	</div>
																</div>
																<div class="col-sm-12 col-md-9">
																	<div class="form-group">
																		<label>Custom Data</label> <input class="form-control"
																			type="text" placeholder="Enter Client Data"
																			ng-model="clientData">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel6">
														<h3 class="panel-title">Additional Details</h3>
													</div>
													<div id="panelGroup1Panel6" class="panel-collapse collapse">
														<div class="panel-body">
														
														<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Invoice Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Invoice Number"
																			ng-model="invoiceNumber">
																	</div>
																</div>
																
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Buyer ID</label> <input class="form-control"
																			type="text" placeholder="Enter BuyerID"
																			ng-model="buyerID">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Buyer VRoot</label> <input class="form-control"
																			type="text" placeholder="Enter BuyerVRoot"
																			ng-model="buyerVRoot">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Buyer DUNS </label> <input
																			class="form-control" type="text"
																			placeholder="Enter BuyerDUNS" ng-model="buyerDUNS">
																	</div>
																</div>
															</div>
															<div class="row">
																
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Ship To Email</label> <input
																			class="form-control" type="text"
																			placeholder="Enter ShipToEmail"
																			ng-model="shipToEmail">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>List Price</label> <input class="form-control"
																			type="text" placeholder="Enter ListPrice"
																			ng-model="listPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Purchase Price</label> <input class="form-control"
																			type="text" placeholder="Enter SellPrice"
																			ng-model="sellPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Date Purchased </label>
																		<input class="form-control" type="text"
																			placeholder="Enter Date Purchased"
																			ng-model="datePurchased">
																	</div>
																</div>
															</div>
														<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Quote Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Quote Number"
																			ng-model="quoteNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Quote Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Quote Name" ng-model="quoteName">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>PO Number</label> <input class="form-control"
																			type="text" placeholder="Enter PO Number"
																			ng-model="pONumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>SO Number</label> <input class="form-control"
																			type="text" placeholder="Enter SONumber"
																			ng-model="sONumber">
																	</div>
																</div>
															</div>
														</div>

													</div>
												</div>
											</nav>


										</div>
										<div class="col-xs-12">
											<div class="pull-right">
												<button type="button" class="btn btn-primary">
													<span>Save Asset</span>
												</button>
												<button type="button" class="btn btn-secondary">
													<span>Clear</span>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						
					</div>
				</div>
				<!-- Search Ends -->
			</div>
		</div>
	</div>
	<!-- Container-xl Ends -->
	</main>

	<!-- end advantage page content -->

	<!-- begin advantage footer -->
	<footer class="site-footer">
		<div class="row">
			<div class="col-xs-12">
				<p class="footer-copyright">&copy; Copyright 2018. Dimension
					Data. All Rights Reserved.</p>
				<ul class="list-inline footer-links">
					<li><a
						href="http://www.dimensiondata.com/Global/Policies/Pages/Privacy-Policy.aspx"
						target="_blank">Privacy</a></li>
					<li><a
						href="http://www.dimensiondata.com/Global/Policies/Pages/Terms-and-Conditions.aspx"
						target="_blank">Terms of use</a></li>
					<li><a
						href="http://www.dimensiondata.com/Global/Policies/Pages/Dimension-Data-Cookie-Policy.aspx"
						target="_blank">Cookie policy</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- end advantage footer -->

	<!-- begin advantage mobile menu -->
	<div class="mobile-menu">
		<div class="content">
			<div class="scrollbars scrollbars-light">
				<nav class="drilldown">
					<ul class="nav">
						<li class="menu-header">
							<div class="horizontal-logo" data-toggle="mobile-menu"
								title="Close menu">
								<div class="logo-image" title="Dimension Data"></div>
								<div class="logo-title">
									<span>advantage</span>
								</div>
							</div>
						</li>
						<li><a href="/#/home">Dashboard</a></li>
						<li><a href="/#/manage-asset">Search &
								Manage</a></li>
								<li class="active"><a href="/#/add-asset">Add New Asset</a></li>
						<li><a href="/#/report-overview">Saved Reports</a></li>
						<li><a href="/#/report-admin">Admin Reports & Templates</a></li>
						<li><a href="/#/user-pref">Settings</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- end advantage mobile menu -->

</div>

</ng-controller>


