<!DOCTYPE html>
<html class="desktop-menu-open" lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dimension Data | Advantage</title>
  <!-- meta name="description" content="Description of the page less than 150 characters" --> <!-- meta description -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i">
  <link rel="stylesheet" href="css/dd-adv-global.css">
      <link rel="stylesheet" href="css/dashboard.css">
	  <style>
	  .page-wrapper {padding-top:40px !important}
	  </style>
  <!-- link rel="stylesheet" href="css/app.min.css" --> <!-- your own stylesheet here -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://basecoat.cdn.dimensiondata.com/2.1.0/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://basecoat.cdn.dimensiondata.com/2.1.0/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://basecoat.cdn.dimensiondata.com/2.1.0/img/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="https://basecoat.cdn.dimensiondata.com/2.1.0/img/favicon/safari-pinned-tab.svg" color="#72bf44">
  <link rel="shortcut icon" href="https://basecoat.cdn.dimensiondata.com/2.1.0/img/favicon/favicon.ico">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#ffffff">
      <script>
      // theme loader script (not part of the example)
      if (localStorage.getItem('theme') == 'dark') {
        var stylesheets = document.querySelectorAll('link[href$=".css"]');
        for (var i = 0; i < stylesheets.length; i++) {
          var tag = stylesheets[i];
          var href = tag.getAttribute('href').replace(/(-dark)?(\.min)?\.css/i, '-dark$2.css');
          document.write('<link rel="stylesheet" href="' + href + '">');
          tag.parentElement.removeChild(tag);
        };
      }
      window.addEventListener('storage', function (e) {
        if (e.key == 'theme') {
          var stylesheets = document.querySelectorAll('link[href$=".css"]');
          for (var i = 0; i < stylesheets.length; i++) {
            var tag = stylesheets[i];
            var href = tag.getAttribute('href').replace('-dark', '');
            if (e.newValue == 'dark') {
              href = href.replace(/(-dark)?(\.min)?\.css/i, '-dark$2.css');
            }
            var newTag = document.createElement('link');
            newTag.setAttribute('rel', 'stylesheet');
            newTag.setAttribute('href', href);
            tag.parentElement.appendChild(newTag);
            window.setTimeout(function (tag) {
              tag.parentElement.removeChild(tag);
            }, 500, tag);
          };
        }
      });
    </script>
</head>

<body>
    <header class="site-header">
<nav class="navbar navbar-fixed-top"> <!-- IMPORTANT: add the class `navbar-fixed-top` to position it at the top of the window -->

  <!-- Left utility nav -->
  <ul class="nav navbar-nav navbar-left">
    <!-- Desktop menu toggle -->
    <li class="desktop-menu-toggle hidden-mobile">
      <a href="#" data-toggle="desktop-menu" title="Desktop menu">
        <div class="hidden-closed">Close</div>
        <div class="hidden-opened"></div>
      </a>
    </li>
    <li>
      <!-- Company logo -->
      <a class="horizontal-logo" href="index.html" title="Return home">
        <div class="logo-image" title="Dimension Data"></div>
        <div class="logo-title"><span style="font-size:18px !important">ADVANTAGE</span></div>
      </a>
    </li>
  </ul>

  <!-- Center utility nav -->
  <!-- ul class="nav navbar-nav navbar-center"></ul -->

  <!-- Right utility nav -->
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden-mobile">
      <!-- Plain text link -->
      <a href="#">Support</a>
    </li>
	    <li class="hidden-mobile">
      <!-- Plain text link -->
      <a href="#">Contact</a>
    </li>
    <!-- Divider -->
    <li role="separator" class="divider hidden-mobile"></li>
    <!-- Dropdown menu -->
    <li class="dropdown hidden-mobile">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
        <span class="fa fa-user"></span> Jasbir S. <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="login.html">Logged Out</a></li>
      </ul>
    </li>
    <!-- Divider -->
    <li role="separator" class="divider hidden-mobile"></li>

    <!-- Divider -->
    <li role="separator" class="divider hidden-mobile"></li>
    <li class="hidden-mobile">
      <!-- Client logo -->
      <div class="horizontal-logo" ng-if="profile.userType == 'client' ">
        <!-- img should be wider than it is high (approx 4:1) and 24px (at least) in height -->
        <a href="login.html"><img src="img/oracle-logo.gif" alt="Company name" class="hidden-dark"/></a>
        <img src="img/oracle-logo.gif" alt="Company name" class="hidden-light"/>
        <!-- a css background-image lets you to control the logo image using media queries or stylesheets (in case of switching themes) -->
        <!-- div class="logo-image" title="Company name" style="background-image: url(img/client-logo.png)"></div -->
      </div>
    </li>
    <!-- Mobile menu toggle -->
    <li class="mobile-menu-toggle hidden-desktop" data-toggle="mobile-menu" title="Mobile menu">
      <button type="button" class="navbar-btn btn"><i aria-hidden="true" class="fa fa-bars"></i></button>
    </li>
  </ul>
</nav>


 </header>
  <div class="desktop-menu-layout mobile-menu-layout">
<div class="desktop-menu">
			<div class="desktop-menu">
				<div class="content">
					<nav class="scrollbars scrollbars-light">
						<ul class="nav" data-accordion-group>
							<li class="active"><a href="/#/home">Dashboard</a></li>
							<li><a class="next collapsed" data-toggle="collapse" href="#manage">Manage
									Assets</a>
								<ul class="collapse" id="manage">
									<li><a href="/#/manage-asset">Search & Manage</a></li>
								</ul></li>
							<li><a class="next collapsed" data-toggle="collapse" href="#reports">Reports</a>
								<ul class="collapse" id="reports">
									<li><a href="/#/report-overview">Saved Reports</a></li>
									<li><a href="/#/report-admin">Admin Reports &
											Templates</a></li>
								</ul></li>
							<li><a class="next collapsed" data-toggle="collapse" href="#user">User
									Preferences</a>
								<ul class="collapse" id="user">
									<li><a href="/#/user-pref">Settings</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
			</div>


		</div>


 
      <main class="page-wrapper">
      
        <div class="container-xl">
          <div class="row">
            <div class="col-xs-12">
      
              <div class="pull-left">
                <h2 class="main-heading">Overview</h2>
                <p>Lorem ipsum dolar</p>
              </div>
      

			  
<div style="clear:both">
                  
				  <div class="pull-left col-xs-3" style="100px;margin-top:100px">
				  <h3 class="accent-heading pull-left">Status</h3>
      
                  <span class="status-indicators">
                    <span class="badge-dot status-ontime"></span> Total
                    <span class="badge-dot status-missed"></span> Expired / Expiring
                  </span>
				   <h3 class="accent-heading">Access Reports</h3>
				   <form>
                  <span style="font-size:90%"><input type="radio" name="report1" value="r1"> Report Type - 30D</span><br>
				  <span style="font-size:90%"><input type="radio" name="report2" value="r2"> Report Type - 60D</span><br>
				  <span style="font-size:90%"><input type="radio" name="report3" value="r3"> Report Type - 90D</span><br>
				  <span style="font-size:90%"><input type="radio" name="report3" value="r3"> Report Type - Specific Date</span><br>
				  <span style="font-size:90%"><input type="radio" name="report3" value="r3"> Report Type - Expired</span><br>
				  </form>
				  
				  <h3 class="accent-heading">Section Title Here</h3>

                  <span style="font-size:90%">Additional Filters (Pop-up Menu)</span><br>

				  </div>
				 <div class="pull-right col-xs-9"> 
              <img src="img/world-map.png" class="top-gutter bottom-gutter hidden-dark" alt="Graph Light"/>
              <img src="img/dd-graph-dark.svg" class="top-gutter bottom-gutter hidden-light" alt="Graph Dark"/>
     </div>
</div>	 
	                <div class="pull-right" style="clear:both">
                <button type="button" class="btn btn-primary"><span>View All Assets</span></button>
				<button type="button" class="btn btn-primary"><span>View Expiring Assets</span></button>
              </div>
            </div>
          </div>
        </div>
      
        <div class="nav-tabs-responsive scrollbars">
          <ul class="nav nav-tabs nav-centered" data-footer-tabs>
            <li class="active"><a data-toggle="tab" href="#tab1">Global</a></li>
            <li><a data-toggle="tab" href="#tab2">North America</a></li>
            <li><a data-toggle="tab" href="#tab1">EMEA</a></li>
            <li><a data-toggle="tab" href="#tab2">Asia Pacific</a></li>
            <li class="disabled"><a data-toggle="tab" href="#tab1">Japan</a></li>
          </ul>
        </div>
      
        <div class="tab-content footer-tab-area">
      
          <div id="tab1" class="tab-pane fade in active">
            <div class="container-xl">
              <div class="row">
      
                <div class="col-xs-12 col-lg-12">
      
                  <div class="table-responsive scrollbars bottom-gutter">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Title One</th>
                          <th>Title Two</th>
                          <th>Title Three</th>
                          <th>Title Four</th>
                          <th>Title Five</th>
                          <th>More Titles</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="HP icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>14</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Coca Cola icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>91</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
						                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Sonair icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>8</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Daltfresh icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>23</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="thoughjoy icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>2</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
				  
				  <div class="pull-right">
                <button type="button" class="btn btn-primary"><span>Export Assets</span></button>
				<button type="button" class="btn btn-primary"><span>Export Asset Lifecycle</span></button>
              </div>
                </div>
      

      
              </div>
            </div>
          </div>
      
          <div id="tab2" class="tab-pane fade">
            <div class="container-xl">
              <div class="row">
      
                <div class="col-xs-12 col-lg-12">
      
                  <div class="table-responsive scrollbars bottom-gutter">
                    <table class="table">
                      <thead>
						<tr>
                          <th></th>
                          <th>Title One</th>
                          <th>Title Two</th>
                          <th>Title Three</th>
                          <th>Title Four</th>
                          <th>Title Five</th>
                          <th>More Titles</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Sonair icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>8</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Daltfresh icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>23</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
						                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Sonair icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>8</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Daltfresh icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>23</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                          <td><img src="img/dd-icon-40.png" alt="Toughjoy icon"/></td>
                          <td>Lipsum</td>
                          <td>Loren</td>
                          <td>Ipsum</td>
                          <td>Consectetur</td>
                          <td>11</td>
                          <td>Action Links <button type="button" class="btn btn-sm btn-link" data-actions-popover><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
				  
				  
		              <div class="pull-right">
                <button type="button" class="btn btn-primary"><span>Export Assets</span></button>
				<button type="button" class="btn btn-primary"><span>Export Asset Lifecycle</span></button>
              </div>
      
      
              </div>
			  
            </div>
          </div>
      
        </div>

		</div>
		

			  
            <div style="clear:both">
	  <nav aria-label="Page navigation">
  <ul class="pagination pull-right">
    <li class="pagination-extra hidden-xs hidden-sm">
      <label for="rowsPerPage">Rows per page</label>
      <select id="rowsPerPage" class="form-control input-sm">
        <option>5</option>
        <option selected>10</option>
        <option>20</option>
        <option>50</option>
      </select>
    </li>
    <li class="pagination-extra">1-10 of 100</li>
    <li class="disabled">
      <a href="#">
        <span aria-label="Previous" class="fa fa-angle-left"></span>
      </a>
    </li>
    <li class="hidden-xs active"><a href="#">1</a></li>
    <li class="hidden-xs"><a href="#">2</a></li>
    <li class="hidden-xs"><a href="#">3</a></li>
    <li class="hidden-xs"><a href="#">4</a></li>
    <li class="hidden-xs"><a href="#">5</a></li>
    <li>
      <a href="#">
        <span aria-label="Next" class="fa fa-angle-right"></span>
      </a>
    </li>
  </ul>
</nav>

	  </div>
      </main>
      
    <footer class="site-footer">
      <p> Footer</p>
    </footer>

    <div class="mobile-menu">
      <div class="content">
<div class="scrollbars scrollbars-light">
<nav class="drilldown">
<ul class="nav">
<li class="menu-header">
<div class="horizontal-logo" data-toggle="mobile-menu" title="Close menu">
<div class="logo-image" title="Dimension Data">
</div>
<div class="logo-title">
<span>advantage</span>
</div>
</div>
</li>
<li class="active"><a href="index.html">Dashboard</a></li>
<li><a href="#">Manage Assets</a>
<ul class="nav">
<li><a href="manage-asset.html">Search & Manage</a></li></ul>
</li>
        <li><a href="#">Reports</a>
          <ul class="nav">
            <li><a href="reports-overview.html">Saved Reports</a></li>
			<li><a href="reports-admin.html">Admin Reports & Templates</a></li>
          </ul>
        </li>
        <li><a href="#">User Preferences</a>
          <ul class="nav">
            <li><a href="user-pref.html">Settings</a></li>
          </ul>
        </li>
</ul>
</div>
</div>
	  
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://basecoat.cdn.dimensiondata.com/2.1.0/js/dd.basecoat.min.js"></script>
  <!-- script src="js/app.min.js"></script --> <!-- your own script here -->
  <script defer src="https://basecoat.cdn.dimensiondata.com/2.1.0/js/outdated-browser.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
   <script src="js/login.js"></script>
   <script src="js/assetmanage.js"></script>
  

</body>

</html>


