
<ng-controller="Ctrl"> <script src="js/search-panel.js"></script>
<script
	src="/js/ag-grid-enterprise.min.js"></script> <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<style>
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	margin-top: -40%;
	padding: 30px;
	border: 3px solid #888;
	width: 30%;
	height: 200px;
}

.modal-content2 {
	background-color: #fefefe;
	margin: auto;
	margin-top: -40%;
	padding: 30px;
	border: 3px solid #888;
	width: 30%;
	height: 400px;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
</style>


<div class="sticky-footer-layout desktop-menu-layout mobile-menu-layout">

	<!-- begin advantage site header -->
	<header class="site-header">
		<nav class="navbar navbar-fixed-top">
			<ul class="nav navbar-nav navbar-left">
				<li class="desktop-menu-toggle hidden-mobile"><a href="#"
					data-toggle="desktop-menu" title="Desktop menu">
						<div class="hidden-closed">Close</div>
						<div class="hidden-opened"></div>
				</a></li>
				<li><a class="horizontal-logo" href="/#/landing"
					title="Return home">
						<div class="logo-image" title="Dimension Data"></div>
						<div class="logo-title">
							<span style="font-size: 18px !important">advantage</span>
						</div>
				</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden-mobile">
					<!-- Plain text link -->
					<a href="#">Support</a>
				</li>
				<li class="hidden-mobile">
					<!-- Plain text link -->
					<a href="#">Contact</a>
				</li>
				<li role="separator" class="divider hidden-mobile"></li>
				<li class="dropdown hidden-mobile"><a href="#"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false" class="dropdown-toggle"> <span
						class="fa fa-user"></span>{{profile.userName}}<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li role="separator" class="divider"></li>
						<li><a href="/#/login">Sign out</a></li>
					</ul></li>
				<li role="separator" class="divider hidden-mobile"></li>
				<li class="hidden-mobile">
					<!-- Begin  Client logo -->
					<div class="horizontal-logo" ng-if="profile.userType == 'client' ">
						<a href="login.html"><img src="/img/oracle-logo.gif"
							alt="Company name" class="hidden-dark" /></a> <img
							src="/img/oracle-logo.gif" alt="Company name"
							class="hidden-light" />
					</div> <!-- End  Client logo -->
				</li>
				<li class="mobile-menu-toggle hidden-desktop"
					data-toggle="mobile-menu" title="Mobile menu">
					<button type="button" class="navbar-btn btn">
						<i aria-hidden="true" class="fa fa-bars"></i>
					</button>
				</li>
			</ul>
		</nav>
	</header>
	<!-- end advantage site header -->

	<!-- begin advantage desktop menu -->
	<div class="desktop-menu">
		<div class="content">
			<nav class="scrollbars scrollbars-light">
				<ul class="nav" data-accordion-group>
					<li><a href="/#/home">Dashboard</a></li>
					<li><a class="next collapsed" data-toggle="collapse">Manage
							Assets</a>
						<ul class="collapse in">
							<li class="active"><a href="/#/manage-asset">Search & Manage</a></li>
							<li><a href="/#/add-asset">Add New Asset</a></li>
						</ul></li>
					<li><a class="next collapsed" data-toggle="collapse">Reports</a>
						<ul class="collapse">
							<li><a href="/#/report-overview">Saved Reports</a></li>
							<li><a href="/#/report-admin">Admin Reports & Templates</a></li>
						</ul></li>
					<li><a class="next collapsed" data-toggle="collapse">User
							Preferences</a>
						<ul class="collapse">
							<li><a href="/#/user-pref">Settings</a></li>
						</ul></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- end advantage desktop menu -->

	<!-- begin advantage page content -->

	<main class="page-wrapper">
	<div class="container-xl">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-left">
					<h2 class="main-heading">Manage Asset</h2>
					<p>&nbsp;</p>
				</div>
				<div class="pull-right ">
					<button type="button" class="btn btn-primary"
						data-goto-panel="search">
						<span>Search Assets</span>
					</button>
					
					<a class="btn btn-primary" href="/#/add-asset">
						<span class="fa fa-plus"></span><span>Add New Asset</span>
					</a>
				</div>
				<!-- Search Begin-->
				<div style="clear: both;" class="panel hidden" data-panel="search">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<form data-validation-example>
									<div class="row">
										<div class="col-xs-12">
											<h2>Search</h2>
											<div class="col-sm-12 col-md-6">
												<form>
													<div class="row">
														<div class="form-group">
															<label class="required-field">Select from Saved
																Search</label> <select class="form-control" ng-model="itemid"
																ng-change="getAccountLink(itemid)"
																ng-options="i.id as i.name for i in accountLst">
																<option style="z-index: 999" value="">Select
																	Option</option>

															</select>
														</div>
													</div>
												</form>
											</div>
											<div style="clear: both"></div>
											<nav class="panel-group" id="panelGroup1">
												<div class="panel panel-indented">
													<div class="panel-heading active" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel1">
														<h3 class="panel-title">Quick Search</h3>

													</div>
													<div id="panelGroup1Panel1"
														class="panel-collapse collapse in">
														<div class="panel-body">
															<!--   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Manufacturer </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Manufacturer"
																			ng-model="manufacturer">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Serial No.</label> <input class="form-control"
																			type="text" placeholder="Enter Serial No."
																			ng-model="serialNo">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Part No.</label> <input class="form-control"
																			type="text" placeholder="Enter Part No."
																			ng-model="partNo">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Contact No.</label> <input class="form-control"
																			type="text" placeholder="Enter Contact No."
																			ng-model="contactNo">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel2">
														<h3 class="panel-title">Install Address</h3>
													</div>
													<div id="panelGroup1Panel2" class="panel-collapse collapse">
														<div class="panel-body">
															<!--   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->

															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Status </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Status" ng-model="status">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Date Active</label> <input class="form-control"
																			type="text" placeholder="Enter Date Active"
																			ng-model="dateActive">
																	</div>
																</div>
																<div class="col-sm-12 col-md-6">
																	<div class="form-group">
																		<label>Address Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Address Name"
																			ng-model="addressName">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-9">
																	<div class="form-group">
																		<label class="required-field">Street Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Line" ng-model="line">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>City</label> <input class="form-control"
																			type="text" placeholder="Enter City" ng-model="city">
																	</div>
																</div>
															</div>
															
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>District</label> <input class="form-control"
																			type="text" placeholder="Enter District"
																			ng-model="district">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">State </label> <input
																			class="form-control" type="text"
																			placeholder="Enter State" ng-model="state">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Postal Code</label> <input class="form-control"
																			type="text" placeholder="Enter Postal Code"
																			ng-model="postalCode">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Country Code</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Country Code"
																			ng-model="countryCode">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel3">
														<h3 class="panel-title">Contracts</h3>
													</div>
													<div id="panelGroup1Panel3" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Vendor </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Vendor" ng-model="vendor">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Contract Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Contract Number"
																			ng-model="contractNumber">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Contract Desc</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Contract Desc"
																			ng-model="contractDesc">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Contract Type</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Contract Type"
																			ng-model="contractType">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Entitlement List
																			Price </label> <input class="form-control" type="text"
																			placeholder="Enter Entitlement List Price"
																			ng-model="entitlementListPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Entitlement Sell Price</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Entitlement Sell Price"
																			ng-model="entitlementSellPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Entitlement Part Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Entitlement Part Number"
																			ng-model="entitlementPartNumber">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Entitlement
																			Description </label> <input class="form-control" type="text"
																			placeholder="Enter Entitlement Description"
																			ng-model="entitlementDescription">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Start Date</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Start Date" ng-model="startDate">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>End Date</label> <input class="form-control"
																			type="text" placeholder="Enter End Date"
																			ng-model="endDate">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>PO Number</label> <input class="form-control"
																			type="text" placeholder="Enter PO Number"
																			ng-model="poNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>SO Number</label> <input class="form-control"
																			type="text" placeholder="Enter SO Number"
																			ng-model="soNumber">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Invoice Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Invoice Number"
																			ng-model="invoiceNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Date Purchased </label>
																		<input class="form-control" type="text"
																			placeholder="Enter Date Purchased"
																			ng-model="datePurchased">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Vendor PO Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Vendor PO Number"
																			ng-model="vendorPONumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Status</label> <input class="form-control"
																			type="text" placeholder="Enter Status"
																			ng-model="contractStatus">
																	</div>
																</div>
															</div>


															<div style="clear: both;"></div>

														</div>
													</div>

												</div>
												<div class="panel panel-indented">
													<div class="panel-heading collapsed" data-toggle="collapse"
														data-parent="#accordion" data-target="#panelGroup1Panel4">
														<h3 class="panel-title">Additional Criteria</h3>
													</div>
													<div id="panelGroup1Panel4" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Asset Status</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Asset Status"
																			ng-model="assetStatus">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Parent ID</label> <input class="form-control"
																			type="text" placeholder="Enter ParentID"
																			ng-model="parentID">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Asset ID</label> <input
																			class="form-control" type="text"
																			placeholder="Enter AssetID" ng-model="assetID">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Parent Asset ID</label> <input
																			class="form-control" type="text"
																			placeholder="Enter ParentAssetID"
																			ng-model="ParentAssetID">
																	</div>
																</div>
															</div>

															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Buyer Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter BuyerName" ng-model="buyerName">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Buyer ID</label> <input class="form-control"
																			type="text" placeholder="Enter BuyerID"
																			ng-model="buyerID">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Buyer VRoot</label> <input class="form-control"
																			type="text" placeholder="Enter BuyerVRoot"
																			ng-model="buyerVRoot">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Buyer DUNS </label> <input
																			class="form-control" type="text"
																			placeholder="Enter BuyerDUNS" ng-model="buyerDUNS">
																	</div>
																</div>
															</div>

															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Current Owner Email</label> <input
																			class="form-control" type="text"
																			placeholder="Enter CurrentOwnerEmail"
																			ng-model="currentOwnerEmail">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Description</label> <input class="form-control"
																			type="text" placeholder="Enter Discreption"
																			ng-model="discreption">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>List Price</label> <input class="form-control"
																			type="text" placeholder="Enter ListPrice"
																			ng-model="listPrice">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Sell Price</label> <input class="form-control"
																			type="text" placeholder="Enter SellPrice"
																			ng-model="sellPrice">
																	</div>
																</div>
															</div>


															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Quote Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Quote Number"
																			ng-model="quoteNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Quote Name</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Quote Name" ng-model="quoteName">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>PO Number</label> <input class="form-control"
																			type="text" placeholder="Enter PO Number"
																			ng-model="pONumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>SO Number</label> <input class="form-control"
																			type="text" placeholder="Enter SONumber"
																			ng-model="sONumber">
																	</div>
																</div>
															</div>


															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Invoice Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Invoice Number"
																			ng-model="invoiceNumber">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Date Purchased </label>
																		<input class="form-control" type="text"
																			placeholder="Enter Date Purchased"
																			ng-model="datePurchased">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Vendor</label> <input class="form-control"
																			type="text" placeholder="Enter Vendor"
																			ng-model="vendor">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Vendor PO Number</label> <input
																			class="form-control" type="text"
																			placeholder="Enter Vendor PO Number"
																			ng-model="vendorPONumber">
																	</div>
																</div>
															</div>

															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Ship To Email</label> <input
																			class="form-control" type="text"
																			placeholder="Enter ShipToEmail"
																			ng-model="shipToEmail">
																	</div>
																</div>
																
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">MAC Address</label> <input
																			class="form-control" type="text"
																			placeholder="Enter MACAddress" ng-model="MACAddress">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>IP Address</label> <input class="form-control"
																			type="text" placeholder="Enter IPAddress"
																			ng-model="IPAddress">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">EOLA</label> <input
																			class="form-control" type="text"
																			placeholder="Enter EOLA" ng-model="EOLA">
																	</div>
																</div>
															</div>

															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">EOCR</label> <input
																			class="form-control" type="text"
																			placeholder="Enter EOCR" ng-model="EOCR">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>EOS</label> <input class="form-control"
																			type="text" placeholder="Enter EOS" ng-model="EOS">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>LDOS</label> <input class="form-control"
																			type="text" placeholder="Enter LDOS" ng-model="LDOS">
																	</div>
																</div>

																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">EOSWM</label> <input
																			class="form-control" type="text"
																			placeholder="Enter EOSWM" ng-model="EOSWM">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>LDOSH</label> <input class="form-control"
																			type="text" placeholder="Enter LDOSH"
																			ng-model="LDOSH">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Department Status</label> <input class="form-control"
																			type="text" placeholder="Enter Status"
																			ng-model="departmentStatus">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Department Date Active </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Date Active"
																			ng-model="departmentDateActive">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Department Name</label> <input class="form-control"
																			type="text" placeholder="Enter Department"
																			ng-model="department">
																	</div>
																</div>
															</div>
															
															<div class="row">
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Client Status</label> <input class="form-control"
																			type="text" placeholder="Enter Status"
																			ng-model="clientDataStatus">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label class="required-field">Client Date Active </label> <input
																			class="form-control" type="text"
																			placeholder="Enter Date Active"
																			ng-model="clientDateActive">
																	</div>
																</div>
																<div class="col-sm-12 col-md-3">
																	<div class="form-group">
																		<label>Client Data</label> <input class="form-control"
																			type="text" placeholder="Enter Client Data"
																			ng-model="clientData">
																	</div>
																</div>
															</div>
															
														</div>

													</div>
												</div>
											</nav>


										</div>
										<div class="col-xs-12">
											<div class="pull-right">
												<button type="button" class="btn btn-primary">
													<span>Search</span>
												</button>
												<button type="button" class="btn btn-secondary"
													data-goto-panel="none">
													<span>Close</span>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						
					</div>
				</div>
				<!-- Search Ends -->
			</div>
		</div>
		<!-- Ag-Grid Begin -->
			<span>
		<div class="row">
			
				<div class="col-xs-12">
				
					<div class="ibox-content">

						<div style="padding: 4px">
							<b>Asset records</b> <span id="rowCount"></span>
						</div>

						<label for="ajax"></label>
						<div id="bestHtml5Grid" class="ag-theme-fresh ag-basic"
							style="height:500px; margin: 10px 0px"></div>
					</div>

				</div>
			

		</div>
		<!-- CK Code -->
					<div class="row">
					<div class="col-sm-12">
					<div style="margin-right:5px" class="pull-left">
					<button type="button" class="btn btn-secondary">
								<span>Submit Changes</span>
							</button>
					</div>
					<div style="margin-right:5px" class="pull-left">
					<div class="form-group">
					  <div class="control-wrapper">
					    <div class="input-group">
					      <div class="dropdown">
					        <button type="button" class="btn btn-secondary form-control dropdown-toggle" id="exampleCssInputGroupDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Edit/Delete Record
					          <span class="caret"></span>
					        </button>
					        <ul class="dropdown-menu" aria-labelledby="exampleCssInputGroupDropdown" style="background:#455565; color:#C7CCD1">
					          <li><a style="color:#C7CCD1" href="/#/manage-records">Manage Client Data</a></li>
					          <li><a style="color:#C7CCD1" href="/#/manage-records">Manage Department</a></li>
					          <li><a style="color:#C7CCD1" href="/#/manage-records">Manage Entitlement</a></li>
					          <li><a style="color:#C7CCD1" href="/#/manage-records">Manage Install Address</a></li>
					        </ul>
					      </div>
					    </div>
					  </div>
					</div>
					</div>
					<div style="margin-right:5px" class="pull-left">
					<button type="button" class="btn btn-secondary">
								<span>Delete Asset</span>
							</button>
					</div>
					<div style="margin-right:5px" class="pull-left">
					<div class="form-group">
					  <div class="control-wrapper">
					    <div class="input-group">
					      <div class="dropdown">
					        <button type="button" class="btn btn-secondary form-control dropdown-toggle" id="exampleCssInputGroupDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Add New Record
					          <span class="caret"></span>
					        </button>
					        <ul class="dropdown-menu" aria-labelledby="exampleCssInputGroupDropdown" style="background:#455565; color:#C7CCD1">
					          <li><a style="color:#C7CCD1" href="/#/add-clientdata">Add Client Data</a></li>
					          <li><a style="color:#C7CCD1"  href="/#/add-department">Add Department</a></li>
					          <li><a style="color:#C7CCD1" href="/#/add-entitlement">Add Entitlement</a></li>
					          <li><a style="color:#C7CCD1" href="/#/add-installaddress">Add Install Address</a></li>
					        </ul>
					      </div>
					    </div>
					  </div>
					</div>
					</div>
					<div class="pull-left" style="margin-right:5px">

							<button type="button" class="btn btn-primary"
								ng-click="viewAllAssets('all');">
								<span>Save Search</span>
							</button>
							</div>
							<div class="pull-left" style="margin-right:5px">
							<button type="button" class="btn btn-primary"
								ng-click="viewAllAssets('Expired');">
								<span>Create New Report</span>
							</button>
							</div>
					</div>
					
					<div style="clear: both; margin-bottom:100px"></div>
					</div>









<!-- End -->
</span>
			<!-- Ag-Grid Ends -->
	</div>
	<!-- Container-xl Ends -->
			<!-- The Modal to save filter-->
			<div id="myModal" class="modal">
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<p>Please name the filter</p>

					Filter name: <input type="text" id="fltname" name="fltname"
						ng-model="filterName"><br>
					<br>
					<div class="pull-right" style="margin-top: 12px;">
						<button id="SavePopBtn" type="button" class="btn btn-primary"
							ng-click="saveFilterModel();">
							<span>Save Filter</span>
						</button>
						<button id="CancelPopBtn" type="button" class="btn btn-primary"
							ng-click="rsestoreFromHardCoded();">
							<span>Cancel</span>
						</button>
					</div>
				</div>
			</div>

			<!-- The Modal to view row detail-->
			<div ng-style="Modal2" id="myModal2" class="modal">
				<!-- Modal content -->
				<div class="modal-content2">
					<span ng-click="closeModel2();" class="close">&times;</span>
					<p style="font-size: 20px;">
						<b>Detail of AssetID : {{viewRow.assetId}}</b>
					</p>
					<!--  
		<table>
			  <tr><td>AssetID:</td><td> {{viewRow.assetId}}</td></tr>
			 <tr><td> manufactureNo:</td><td> {{viewRow.manufactureNo}}</td></tr>
			 <tr><td> install:</td><td> {{viewRow.install}}</td></tr>
			 <tr><td> endofSale:</td><td> {{viewRow.endofSale}}</td></tr>
			 <tr><td> eolAnnoucement:</td><td> {{viewRow.eolAnnoucement}}</td></tr>
			  <tr><td>serialNo:</td><td> {{viewRow.serialNo}}</td></tr>
			  <tr><td>poNumber:</td><td> {{viewRow.poNumber}}</td></tr>
			  <tr><td>installDate:</td><td> {{viewRow.installDate}}</td></tr>
	  	</table>
	  	
	  	-->



					AssetID : {{viewRow.assetId}}<br> manufactureNo :
					{{viewRow.manufactureNo}}<br> install : {{viewRow.install}}<br>
					endofSale : {{viewRow.endofSale}}<br> eolAnnoucement :
					{{viewRow.eolAnnoucement}}<br> serialNo : {{viewRow.serialNo}}<br>
					poNumber : {{viewRow.poNumber}}<br> installDate :
					{{viewRow.installDate}}<br>
					<div class="pull-right" style="margin-top: 12px;">
						<button id="closePopBtn" type="button" class="btn btn-primary"
							ng-click="closeModel2();">
							<span>Cancel</span>
						</button>
					</div>
				</div>
			</div>
	</main>

	<!-- end advantage page content -->

	<!-- begin advantage footer -->
	<footer class="site-footer">
		<div class="row">
			<div class="col-xs-12">
				<p class="footer-copyright">&copy; Copyright 2018. Dimension
					Data. All Rights Reserved.</p>
				<ul class="list-inline footer-links">
					<li><a
						href="http://www.dimensiondata.com/Global/Policies/Pages/Privacy-Policy.aspx"
						target="_blank">Privacy</a></li>
					<li><a
						href="http://www.dimensiondata.com/Global/Policies/Pages/Terms-and-Conditions.aspx"
						target="_blank">Terms of use</a></li>
					<li><a
						href="http://www.dimensiondata.com/Global/Policies/Pages/Dimension-Data-Cookie-Policy.aspx"
						target="_blank">Cookie policy</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- end advantage footer -->

	<!-- begin advantage mobile menu -->
	<div class="mobile-menu">
		<div class="content">
			<div class="scrollbars scrollbars-light">
				<nav class="drilldown">
					<ul class="nav">
						<li class="menu-header">
							<div class="horizontal-logo" data-toggle="mobile-menu"
								title="Close menu">
								<div class="logo-image" title="Dimension Data"></div>
								<div class="logo-title">
									<span>advantage</span>
								</div>
							</div>
						</li>
						<li><a href="/#/home">Dashboard</a></li>
						<li class="active"><a href="/#/manage-asset">Search & Manage</a></li>
						<li><a href="/#/add-asset">Add New Asset</a></li>
						<li><a href="/#/report-overview">Saved Reports</a></li>
						<li><a href="/#/report-admin">Admin Reports & Templates</a></li>
						<li><a href="/#/user-pref">Settings</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- end advantage mobile menu -->

</div>

</ng-controller>

<script>
// Get the modal while savig filter details
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var closePop = document.getElementById("CancelPopBtn");
var savePop = document.getElementById("SavePopBtn");
var txtfname = document.getElementById('fltname');
// When the user clicks the button, open the modal 

if (btn !== null) {

	btn.onclick = function() {
	    modal.style.display = "block";
	}
	
}

if (savePop !== null) {
savePop.onclick = function() {
	if(txtfname.value !=''){
		txtfname.value='';
	 	modal.style.display = "none";
	}
}}


//When the user clicks on <span> (x), close the modal
if (span !== null) {
span.onclick = function() {
    modal.style.display = "none";
}}
//When the user clicks on  close butn the modal
if (closePop !== null) {
closePop.onclick = function() {

	//console.log('filter name: '+txtfname.value);
	txtfname.value='';
    modal.style.display = "none";
}}

// When the user clicks anywhere outside of the modal, close it
if (window !== null) {
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}}
</script>


