	<div class="row wrapper border-bottom white-bg">
		<div class="col-lg-10">
			<h2>Upload Schedule</h2>
			<ol class="breadcrumb">
				<li><a href="#landing">Bidding Hub</a></li>
				<li><a>Schedule Bidding</a></li>
				<li class="active"><strong>Upload Schedule</strong></li>
			</ol>
		</div>
	</div>
<div ng-app="myApp" ng-init="init"
	class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="row ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive m-t-xl">
						<form method="POST" enctype="multipart/form-data" action="/upload">
							<div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                <h4>Select a file to Upload</h4>  
                                    <span class="btn btn-default btn-file"><span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span><input type="file" name="file" /></span>
                                    <span class="fileupload-preview"></span> <span class="glyphicon glyphicon-file fileupload-exists"></span>
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">x</a>
                                      <span class="mg-l-50">
                                        <button type="submit" class="btn btn-primary fileupload-exists" name="Submit">Upload</button>
                                    </span></h2>
                                </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

