<footer class="site-footer">
<div class="row">
  <div class="col-xs-12">
	<p class="footer-copyright">&copy; Copyright 2018. Dimension Data. All Rights Reserved.</p>
	<ul class="list-inline footer-links">
	  <li><a href="http://www.dimensiondata.com/Global/Policies/Pages/Privacy-Policy.aspx" target="_blank">Privacy</a></li>
	  <li><a href="http://www.dimensiondata.com/Global/Policies/Pages/Terms-and-Conditions.aspx" target="_blank">Terms of use</a></li>
	  <li><a href="http://www.dimensiondata.com/Global/Policies/Pages/Dimension-Data-Cookie-Policy.aspx" target="_blank">Cookie policy</a></li>
	</ul>
  </div>
</div>
</footer>